[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  SECRETS_SCAN_ENABLED = "false"


# Configure secrets scanning
[secrets]
  SECRETS_SCAN_OMIT_PATHS = [
    ".next/static/chunks/pages/_app-*.js",
    ".next/static/chunks/pages/index-*.js"
  ]